<div class="container-fluid">
    <h2 mat-dialog-title>{{isEditMode?'Edit':'Add'}} Property</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
        <div class="form-grid">
            <mat-form-field class="full-width">
                <mat-label>Assessment Id</mat-label>
                <input matInput formControlName="assessmentId" required>
                <mat-error *ngIf="form.get('assessmentId')?.hasError('required')">Tax Declaration No is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Select owner</mat-label>
                <mat-select formControlName="userName">
                    <mat-option *ngFor="let user of user" [value]="user.name">
                        {{ user.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <mat-label>Select Tax Declaration No.</mat-label>
                <mat-select [(value)]="selectedCode" (selectionChange)="onSelectionChange($event)">
                    <mat-option *ngFor="let prop of property" [value]="prop.taxDeclarationNo">
                        {{ prop.taxDeclarationNo }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="selectedProperty">
                <mat-form-field class="full-width">
                    <mat-label>Property Id</mat-label>
                    <input matInput [value]="selectedProperty.propertyId" readonly>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Owner Name</mat-label>
                    <input matInput [value]="selectedProperty.ownerName" readonly>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Classification</mat-label>
                    <input matInput [value]="selectedProperty.clasification" readonly>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Property Location</mat-label>
                    <input matInput [value]="selectedProperty.propertyLocation" readonly>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Land Area</mat-label>
                    <input matInput [value]="selectedProperty.landArea" readonly>
                </mat-form-field>
            </div>
            <mat-form-field class="full-width">
                <mat-label>Assessed Value</mat-label>
                <input matInput formControlName="assessedValue" required>
                <mat-error *ngIf="form.get('assessedValue')?.hasError('required')">Assessed Value is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Market Value</mat-label>
                <input matInput formControlName="marketValue" required>
                <mat-error *ngIf="form.get('marketValue')?.hasError('required')">Market Value is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Assessment Level</mat-label>
                <input matInput formControlName="assessmentLevel" required>
                <mat-error *ngIf="form.get('assessmentLevel')?.hasError('required')">Assessment Level is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Assessed By</mat-label>
                <input matInput formControlName="assessedBy" required>
                <mat-error *ngIf="form.get('assessedBy')?.hasError('required')">Assessed By is required</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Assessment Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="assessmentDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.get('assessmentDate')?.hasError('required')">Assessment Date is required</mat-error>
            </mat-form-field>
        </div>
        <div class="dialog-actions">
            <button mat-button  type="button" (click)="onCancel()">Cancel</button>
            <button mat-raised-button type="submit" [disabled]="!form.valid">{{isEditMode?'Update':'Create'}}</button>
        </div>
    </form>
</div>