<div class="container-fluid">

    <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Hold/Unhold Account</h1>
    
  </div>

<div class="row">
    <div class="col-lg-12">
               
      <form class="user">
         <div class="form-group row">				
            <div class="col-sm-12 mb-3 mb-sm-0">
                
                <div class="row">
    <div class="col-lg-5">
        <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Inquiry</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Control no.</th>
              <th>Date</th>                    
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Control no.</th>
              <th>Date</th>

            <th></th>
                
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>20170001</td>
              <td>12/12/2017</td>
              
              <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
            <tr>
               <td>20170001</td>
              <td>12/12/2017</td>
             <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
            <tr>
                 <td>20170001</td>
              <td>12/12/2017</td>
             <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
            <tr>
               <td>20170001</td>
              <td>12/12/2017</td>
              <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
            <tr>
              <td>20170001</td>
              <td>12/12/2017</td>
              <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
          
             </tbody>
        </table>
        </div>
        </div>
    </div>
    </div>
  <div class="col-lg-7">
          
      <form class="user">
         <div class="form-group row">
          <div class="col-sm-7 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Account no.">
          </div>
          <div class="col-sm-5 mb-3 mb-sm-0">
           <div class="custom-control custom-checkbox small">
                <input type="checkbox" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck">Hold account?</label>
              </div>
        </div>

        </div>
   
        <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampletblno" placeholder="Name">
          </div>
        </div>
        
         
       <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Tax payers address">
          </div>
        
        </div>
          <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Business name">
          </div>
        
        </div>
         <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Business address">
          </div>
        
        </div>
        <div class="form-group row">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Control no.">
          </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Date">
          </div>
        </div>
      <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
            <textarea class="form-control" rows="3" id="exampleremarks" placeholder="Remarks"></textarea>
           
          </div>
        
        </div>
        
        <a href="login.html" class="btn btn-primary btn-user btn-block">
          Save
        </a>
      </form>
    
  </div>
</div>
                
        
         </div>
        
         </div>
       
      </form>
        
    
  </div>
</div>
</div>
