
<div class="table-container">
  <div>
      <h1 class="text-2xl font-bold">Inspections</h1>
      &nbsp;
      <button mat-raised-button color="primary" class="load-batch-btn" (click)="openDialog()">Add Inspection</button>
  </div>
  &nbsp;
  <div>
    <mat-form-field class="full-width">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search inpections.." #input>
    </mat-form-field>
  </div>
  
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">    
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
        <ng-container matColumnDef="inspectorId">    
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Inspector ID</th>
          <td mat-cell *matCellDef="let row"> {{row.inspectorId}} </td>
        </ng-container>
        <ng-container matColumnDef="applicationId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Application ID</th>
          <td mat-cell *matCellDef="let row"> {{row.applicationId}} </td>
        </ng-container>
        <ng-contaainer matColumnDef="inspectionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Inspection </th>
          <td mat-cell *matCellDef="let row"> {{row.inspectionDate | date:'shortDate'}} </td>
        </ng-contaainer>
        <ng-container matColumnDef="inspectionResult">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Inspection Result </th>
          <td mat-cell *matCellDef="let row"> {{row.inspectionResult}} </td>
        </ng-container>
        <ng-container matColumnDef="inspectionStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Inspection Status </th>
          <td mat-cell *matCellDef="let row"> {{row.inspectionStatus}} </td>
        </ng-container>
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
          <td mat-cell *matCellDef="let row"> {{row.remarks}} </td>
        </ng-container>
        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let row" class="space-x-2">
            <button mat-icon-button color="primary" matTooltip="Edit Inspection" (click)="openDialog(row)">
                <mat-icon>edit</mat-icon>
            </button> 
            <button mat-icon-button color="primary" matTooltip="Delete Inspection" (click)="deleteInspection(row.id)">
                <mat-icon>delete</mat-icon>
            </button> 
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of inspections"></mat-paginator>
    </div>
</div>