<div class="container-fluid">

    <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Releasing Permits</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Print Report</a>
  </div>

<div class="row">
    <div class="col-lg-12">
               
      <form class="user">
         <div class="form-group row">				
            <div class="col-sm-12 mb-3 mb-sm-0">
                
                <div class="row">
    <div class="col-lg-5">
        <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Inquiry</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              
              <th>Date Released</th>     
            <th>Seq no.</th>					  
              <th>Char</th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
               <th>Date Released</th>     
            <th>Seq no.</th>					  
              <th>Char</th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              
              <td>12/12/2017</td>
              <td>20170001</td>
              <td>A</td>
            <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
            <tr>
               <td>12/12/2017</td>
              <td>20170001</td>
              <td>A</td>
            <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
            <tr>
                 <td>12/12/2017</td>
              <td>20170001</td>
              <td>A</td>
            <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
            <tr>
               <td>12/12/2017</td>
              <td>20170001</td>
              <td>A</td>
            <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
            <tr>
             <td>12/12/2017</td>
              <td>20170001</td>
              <td>A</td>
              <td><a href="#"><i class="fas fa-fw fa-edit"></i></a></td>
            </tr>
          
             </tbody>
        </table>
        </div>
        </div>
    </div>
    </div>
  <div class="col-lg-7">
       
      <form class="user">
         <div class="form-group row">
          <div class="col-sm-3 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Date released">
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Permit no.">	
        </div>
        <div class="col-sm-2 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Char">	
        </div>
        <div class="col-sm-3 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Series no.">	
        </div>
        </div>
   
        <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampletblno" placeholder="Account no.">
          </div>
        </div>
        
         
       <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Tax payers name">
          </div>
        
        </div>
          <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Trade name">
          </div>
        
        </div>
        
        <div class="form-group row">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="OR no.">
          </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Valid Until">
          </div>
      
         <div class="col-sm-4 mb-3 mb-sm-0">
            <input type="text" class="form-control form-control-user" id="exampledistrict" placeholder="Posted by">
          </div>
        </div>
      <div class="form-group row">
          <div class="col-sm-12 mb-3 mb-sm-0">
            <textarea class="form-control" rows="3" id="exampleremarks" placeholder="Remarks"></textarea>
           
          </div>
        
        </div>
        
        <a href="login.html" class="btn btn-primary btn-user btn-block">
          Save
        </a>
      </form>
        
  </div>
</div>
                
        
         </div>
        
       
         </div>
      </form>
        
    
  </div>
</div>
</div>

<div class="row">
    <div class="form-group row">
                  <div class="col-sm-12 mb-3 mb-sm-0">
                    <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-a-tab" data-toggle="tab" href="#nav-a" role="tab" 
                aria-controls="nav-a" aria-selected="true">List of Business Activity to update</a>
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" 
                aria-controls="nav-home" aria-selected="true">Additional Business activity</a>
                
                </div>
            </nav>
            <br />
            <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-a" role="tabpanel" aria-labelledby="nav-a-tab">
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">List</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>                      
                                
                                  <th>Nature/Line of business</th>
                                    <th>Capital</th>
                                     <th>Gross Receipts</th>
                                     <th>Status</th>
                                     <th></th>
                                     <th></th>
                                </tr>
                              </thead>
                              <tfoot>
                                <tr>
                                  
                                 <th>Nature/Line of business</th>
                                    <th>Capital</th>
                                     <th>Gross Receipts</th>
                                     <th>Status</th>
                                     <th></th>
                                     <th></th>
                                </tr>
                              </tfoot>
                              <tbody>
                                <tr>
                                    <td>
                                        Private Company
                                    </td>
                                    <td>
                                        300,000.00
                                    </td>
                                    <td>
                                        0.00
                                    </td>
                                    <td>
                                        N
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                 </tbody>
                            </table>
                            </div>
                            </div>
                        </div>
                     </div>
                      </div>
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                    </div>
                  </div>
                  
                </div>
</div>
