<div class="table-container">
  <div>
      <h1 class="text-2xl font-bold">Tax Declaration</h1>
      <button mat-raised-button color="primary" (click)="openDialog()">Add Tax</button>
  </div>
  <div>
    <mat-form-field class="full-width">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search Tax Declaration..." #input>
    </mat-form-field>
  </div>
  
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax ID </th>
          <td mat-cell *matCellDef="let row"> {{row.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="assessmentId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Assessment Id </th>
          <td mat-cell *matCellDef="let row"> {{row.assessmentId}} </td>
        </ng-container>
        <ng-container matColumnDef="taxYear">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Year </th>
          <td mat-cell *matCellDef="let row"> {{row.taxYear}} </td>
        </ng-container>
        <ng-container matColumnDef="basicTax">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Basic tax </th>
          <td mat-cell *matCellDef="let row"> {{row.basicTax}} </td>
        </ng-container>
        <ng-container matColumnDef="sefTax">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sef-tax</th>
          <td mat-cell *matCellDef="let row"> {{row.sefTax }} </td>
        </ng-container>
        <ng-container matColumnDef="idleLandTax">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Idle Land Tax </th>
          <td mat-cell *matCellDef="let row"> {{row.idleLandTax}} </td>
        </ng-container>
        <ng-container matColumnDef="totalDue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total due </th>
          <td mat-cell *matCellDef="let row"> {{row.totalDue}} </td>
        </ng-container>
        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount Applied</th>
          <td mat-cell *matCellDef="let row"> {{row.discount}} </td>
        </ng-container>
        <ng-container matColumnDef="penalty">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Penalty </th>
          <td mat-cell *matCellDef="let row"> {{row.penalty}} </td>
        </ng-container>
        <ng-container matColumnDef="finalAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Final Amount </th>
          <td mat-cell *matCellDef="let row"> {{row.finalAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Status </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let row" class="space-x-2">
            <button mat-icon-button color="primary" matTooltip="Edit Tax" (click)="openDialog(row)">
                <mat-icon>edit</mat-icon>
            </button> 
            <button mat-icon-button color="primary" matTooltip="Delete Tax" (click)="deleteTax(row.id)">
                <mat-icon>delete</mat-icon>
            </button> 
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>