<div class="container-fluid">
    <h2 mat-dialog-title>{{isEditMode?'Edit':'Add'}} Teller</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
            <mat-form-field class="full-width">
                <mat-label> Code</mat-label>
                    <input matInput formControlName="code" required >
                <mat-error *ngIf="form.get('code')?.hasError('required')">Code is required</mat-error>
            </mat-form-field>
          
            <mat-form-field class="full-width">
                <mat-label>User ID </mat-label>
                    <input matInput formControlName="userid" required >
                <mat-error *ngIf="form.get('userid')?.hasError('required')">User ID is required</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                    <input matInput formControlName="description" required >
                <mat-error *ngIf="form.get('description')?.hasError('required')">Description is required</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Designation</mat-label>
                    <input matInput formControlName="designation" required >
                <mat-error *ngIf="form.get('designation')?.hasError('required')">Designation is required</mat-error>
            </mat-form-field>


            <div class="dialog-actions">
                <button mat-button  type="button" (click)="onCancel()">Cancel</button>
                <button mat-raised-button type="submit" [disabled]="!form.valid">{{isEditMode?'Update':'Create'}}</button>
            </div>
        </form>
    </div>