.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;  /* Centers the form fields horizontally */
    justify-content: center;  /* Centers the form fields vertically */
    height: 100%;
    padding: 10px;
  }
  
  mat-form-field {
    width: 100%;  /* Ensure form fields use the full width of the container */
    padding: 10px;
  }
  
  mat-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;  /* Adjust the height to suit your needs */
  }
  
  .dialog-actions {
    display: flex;
    justify-content: center;  /* Centers the buttons horizontally */
    gap: 8px;
  }
  
    mat-card {
      width: 400px;
    }
    
    .full-width {
      width: 100%;
    }
    
    .error-message {
      color: rgb(255, 0, 0);
      margin-top: 10px;
    }