<h2 mat-dialog-title style="justify-content:center">List of Teller</h2>
<mat-dialog-content>
    <div class="table-responsive mb-3">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 or-table">
        <ng-container matColumnDef="tellerCode">
          <th mat-header-cell *matHeaderCellDef>Teller Code</th>
          <td mat-cell *matCellDef="let element">{{element.code}}</td>
        </ng-container>

        <ng-container matColumnDef="tellerName">
          <th mat-header-cell *matHeaderCellDef class="text-end">Teller Name</th>
          <td mat-cell *matCellDef="let element" class="text-end">{{element.name}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of tellers"></mat-paginator>
    </div>
    <div class="row mb-2 flex-gap">
      <mat-form-field appearance="fill" class="flex-1">
        <mat-label>Type a character to search</mat-label>
        <input matInput (keyup)="applyFilter(input.value)" style="margin-left:8px;width:100px;" #input>
      </mat-form-field>
    </div>
    <div class="action-row mb-2" style="margin-top:16px;display:flex;justify-content:center;gap:16px;">
      <button mat-raised-button color="primary" type="button" (click)="onCancel()">
        Exit
      </button>
    </div>
</mat-dialog-content>
