<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
      <img src="assets/images/egis-logo.png" alt="eGIS Logo" class="logo" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            TOIMS
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item dropdown-toggle"  data-bs-toggle="dropdown">Setup</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="master">Master Code Table Entry</a></li>
                <li><a class="dropdown-item" routerLink="revenuecodeparent">Revenue Code Parent Entry</a></li>
                <!-- <li><a class="dropdown-item" routerLink="revenuecodechild">Revenue Code Child Entry</a></li> -->
                <li><a class="dropdown-item"  routerLink="teller">Teller Table Master Entry</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" routerLink="settingofformcontrol">Setting of Form Control</a></li>
                <li><a class="dropdown-item"  routerLink="collectionsummary">Collection Summary</a></li>
                <li><a class="dropdown-item"  routerLink="estimatedrevenue">Estimated Revenue Setup</a></li>
                <li><a class="dropdown-item"  routerLink="managingtemplate">Template Creation</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle"  data-bs-toggle="dropdown">Transactions</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="officialreceipt">Official Receipt Entry</a></li>
                <li><a class="dropdown-item"  routerLink="billingtransaction">Billing Entry</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item"  routerLink="formissuance">Issuance of Forms</a></li>
                <li><a class="dropdown-item"  routerLink="cashticket">Issuance of Cash Tickets</a></li>
                <li><a class="dropdown-item"  routerLink="revenuesetup">Confirmation of Paymet</a></li>
                <li><a class="dropdown-item"  routerLink="revenuesetup">Batch input of Receipts</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item"  routerLink="postingrecords">Posting of Records</a></li>
                <li><a class="dropdown-item"  routerLink="inquirytransaction">Inquery</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item"  routerLink="checkreceivedday">Checks received for the Day</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            BPLTAS
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item dropdown-toggle"  data-bs-toggle="dropdown">Setup</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="systemtable">System Table</a></li>
                <li><a class="dropdown-item" routerLink="bank">Banks</a></li>
                <li><a class="dropdown-item" routerLink="baranggay">Baranggays</a></li>
                <li><a class="dropdown-item" routerLink="collector">Collectors</a></li>
                <li><a class="dropdown-item" routerLink="category">Category</a></li>
                <li><a class="dropdown-item" routerLink="penaltyschedule">Penalty Schedule</a></li>
                <li><hr class="dropdown-divider">
                Other setup
                <li><hr class="dropdown-divider">
                <li><a class="dropdown-item" routerLink="cityordinancecode">City Ordinance Codes</a></li>
                <li><a class="dropdown-item" routerLink="businesscode">Business Category</a></li>
                <li><a class="dropdown-item" routerLink="taxpayercorporatecode">Taxpayer/Corporate Code</a></li>
                <li><a class="dropdown-item" routerLink="masterfiledata">Master file info data</a></li>
                <li><a class="dropdown-item"  routerLink="extensiondate">Extension Date</a></li>
                
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle"  data-bs-toggle="dropdown">Transactions</a>
              <ul class="dropdown-menu">
                Custome Transactions
                <li><hr class="dropdown-divider">
                <li><a class="dropdown-item" routerLink="businesspermit">Business Permit</a></li>
                <li><a class="dropdown-item"  routerLink="billing">Billing</a></li>
                <li><a class="dropdown-item"  routerLink="payment">Payment</a></li>
                <li><a class="dropdown-item"  routerLink="accountledger">Account Subsidiary Ledger</a></li>
                <li><a class="dropdown-item"  routerLink="additionalfee">Additional Fees</a></li>
                <li><a class="dropdown-item"  routerLink="checks">Checks</a></li>
                <li><a class="dropdown-item"  routerLink="taxcredit">Tax Credit</a></li>
                <li><a class="dropdown-item"  routerLink="holdaccount">Hold/Unhold Account</a></li>
                <li><a class="dropdown-item"  routerLink="releasingpermit">Releasing of Permit</a></li>
                <li><a class="dropdown-item"  routerLink="renewalassesment">Renewal/Assesment</a></li>
                <li><a class="dropdown-item"  routerLink="transmital">Transmital</a></li>
                <li><a class="dropdown-item"  routerLink="applicationretirement">Application of Retirement</a></li>
                <li><a class="dropdown-item"  routerLink="tellertransaction">Teller Transactions</a></li>
                <li><a class="dropdown-item"  routerLink="accountadjustment">Account Adjustment</a></li>
                <li><a class="dropdown-item"  routerLink="accountupdate">Update Account</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            RPTAS-FAASS
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item dropdown-toggle"  data-bs-toggle="dropdown">Setup</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item"  routerLink="teller">Codes</a></li>
                <li><a class="dropdown-item"  routerLink="">Actual Use</a></li>
                <li><a class="dropdown-item"  routerLink="">Land BUV </a></li>
                <li><a class="dropdown-item"  routerLink="">Bldg BUCC</a></li>
                <li><a class="dropdown-item"  routerLink="">Assessment Level</a></li>
                <li><a class="dropdown-item"  routerLink="">Adjustment Factor</a></li>
                <li><a class="dropdown-item"  routerLink="">Schedule of BUV per sub-class</a></li>
                <li><a class="dropdown-item"  routerLink="">Tax Rate</a></li>
                <li><a class="dropdown-item"  routerLink="">Discount Rates</a></li>
                <li><a class="dropdown-item"  routerLink="">Official Receipts</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item"  routerLink="">Transaction Dates</a></li>
                <li><a class="dropdown-item"  routerLink="">Owners</a></li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item dropdown-toggle"  data-bs-toggle="dropdown">Transactions</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="settingofformcontrol">Official Receipt Entry</a></li>
                <li><a class="dropdown-item"  routerLink="collectionsummary">Billing Entry</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
        </ul>
        </li>
      </ul>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn" type="submit">Search</button>
        <button (click)="logout()">Logout</button>
    </form>
    </div>
  </div>
  </nav>
<BR>

<router-outlet></router-outlet>