.custom-navbar {
    background-color: #1b75a8 !important;
  }

  .app-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; /* Adjust background color as needed */
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    height: 80px; /* Adjust the height of the logo */
    margin-right: 25px; /* Add spacing between the logo and the title */
  }
  
  .app-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }