<div class="container-fluid">
<h2 mat-dialog-title>{{isEditMode?'':''}} Cancellation of Receipt</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
        <mat-form-field class="full-width">
            <mat-label> receiptnumber </mat-label>
                <input matInput formControlName="receiptnumber" required >
            <mat-error *ngIf="form.get('receiptnumber')"></mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>char</mat-label>
                <input matInput formControlName="char" required >
            <mat-error *ngIf="form.get('char')"></mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>payor</mat-label>
                <input matInput formControlName="payor" required >
            <mat-error *ngIf="form.get('payor')"></mat-error>
        </mat-form-field>
        <div class="dialog-actions">
            <button mat-button  type="button" (click)="onCancel()">Cancel</button>
            <button mat-raised-button type="submit" [disabled]="!form.valid">{{isEditMode?'Apply':''}}</button>
        </div>
    </form>
</div>