<div class="container-fluid">

			<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Master File Information Data</h1>
			<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Print Report</a>
          </div>
		
		<div class="row">
			
		</div>
		<div class="row">
			<div class="col-lg-5">
				<div class="card shadow mb-4">
				<div class="card-header py-3">
				  <h6 class="m-0 font-weight-bold text-primary">List</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>                      
                      <th>Name</th>
                      <th></th>
					  <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      
                      <th>Name</th>
					<th></th>
					  <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>                     
                      <td>Payor 1</td>
					<a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                    <tr>

                      <td>Payor 2</td>
                     <a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                    <tr>

                      <td>Payor 3</td>
                    <a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                    <tr>

                      <td>Payor 4</td>
                   <a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                    <tr>

                      <td>Payor 5</td>
                     <a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                  
					 </tbody>
                </table>
				</div>
				</div>
			</div>
			</div>
          <div class="col-lg-7">
                       
              <form class="user">
				 <div class="form-group row">				
					<div class="col-sm-12 mb-3 mb-sm-0">
						<div class="form-group row">
						<div class="dropdown show">
						  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Option
						  </a>

						  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="#">Main/Principal Office</a>
							<a class="dropdown-item" href="#">Branch</a>
							
						  </div>
						</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-8 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="examplecode" placeholder="Corporate Name">
							</div>
							<div class="col-sm-4 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="examplecode" placeholder="Account no.">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="examplecode" placeholder="Address">
							</div>
							
						</div>
						<div class="form-group row">
							<div class="col-sm-7 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="examplecode" placeholder="Trade Name">
							</div>
							<div class="col-sm-5 mb-3 mb-sm-0">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="gridCheck1">
								<label class="form-check-label" for="gridCheck1">
								  Via Retirement Photo? 
								</label>
							  </div>
							</div>
						</div>
						<div class="form-group row">
						  <div class="col-sm-4 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="examplecode" placeholder="President">
						  </div>
						   <div class="col-sm-4 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="exampletblno" placeholder="Contact no.">
						  </div>
						   <div class="col-sm-4 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="exampletblno" placeholder="Date Establish">
						  </div>
						</div>
						 <div class="form-group row">
						  <div class="col-sm-12 mb-3 mb-sm-0">
							<textarea class="form-control" rows="5" id="exampleremarks" placeholder="Address"></textarea>
						  </div>
						  
						</div>
					</div>
				 </div>
                <div class="form-group row">
					<nav>
					  <div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" 
						aria-controls="nav-home" aria-selected="true">Business Activity</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" 
						aria-controls="nav-profile" aria-selected="false">Annual Inspection</a>
						</div>
					</nav>
					
				</div>
               
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Save
                </a>
               
              </form>
				
          
          </div>
        </div>
        </div>