<div class="container-fluid">

			<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Penalty Rates Schedule</h1>
			<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Print Report</a>
          </div>
          
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Schedule</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Year</th>
                      <th>Qtr</th>
                      <th>Jan</th>
                      <th>Feb</th>
                      <th>March</th>
                      <th>Apr</th>
					  <th>May</th>
                      <th>Jun</th>
                      <th>Jul</th>
                      <th>Aug</th>
					  <th>Sep</th>
                      <th>Oct</th>
                      <th>Nov</th>
                      <th>Dec</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Year</th>
                      <th>Qtr</th>
                      <th>Jan</th>
                      <th>Feb</th>
                      <th>March</th>
                      <th>Apr</th>
					  <th>May</th>
                      <th>Jun</th>
                      <th>Jul</th>
                      <th>Aug</th>
					  <th>Sep</th>
                      <th>Oct</th>
                      <th>Nov</th>
                      <th>Dec</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>4</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>4</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
						<td>2</td>
                      <td>2</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
                     <td>1</td>
                      <td>1</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
                       <td>3</td>
                      <td>3</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
					 <tr>
                      <td>1</td>
                      <td>4</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>4</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
						<td>2</td>
                      <td>2</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
                     <td>1</td>
                      <td>1</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
                       <td>3</td>
                      <td>3</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
					<tr>
                      <td>1</td>
                      <td>4</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>4</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
						<td>2</td>
                      <td>2</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
                     <td>1</td>
                      <td>1</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                    <tr>
                       <td>3</td>
                      <td>3</td>
                      <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
					  <td>1.20</td>
                      <td>61.00</td>
                      <td>20.00</td>
                      <td>0.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>