.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  ::ng-deep .mat-header-cell {
    background-color: #3f51b5; /* Change background color */
    color: white;             /* Text color */
    font-weight: bold;        /* Bold font */
    font-size: 16px;          /* Font size */
    text-align: center;       /* Center align text */
  }
  
  ::ng-deep .mat-header-row {
    height: 56px;             /* Height of the header row */
  }
  
  
  .full-width {
    width: 100%;
  }

  .button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.button-row > div button {
  margin-right: 8px;
}