<div class="container-fluid">

			<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">System Table</h1>
          </div>
		
		<div class="row">
			
		</div>
		<div class="row">
			<div class="col-lg-5">
				<div class="card shadow mb-4">
				<div class="card-header py-3">
				  <h6 class="m-0 font-weight-bold text-primary">List</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Seq. No.</th>
                      <th>Desctiption</th>
                      <th></th>
					  <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Seq. No.</th>
                      <th>Desctiption</th>
					<th></th>
					  <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>0001</td>
                      <td>TEST 1</td>
					<a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                    <tr>
                      <td>0002</td>
                      <td>TEST 2</td>
                     <a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                    <tr>
                      <td>0003</td>
                      <td>TEST 3</td>
                    <a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                    <tr>
                      <td>0004</td>
                      <td>TEST 4</td>
                   <a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                    <tr>
                      <td>0005</td>
                      <td>TEST 5</td>
                     <a href="#"><td><i class="fas fa-fw fa-edit"></i></td></a>
					<a href="#"><td><i class="fas fa-fw fa-trash"></i></td></a>
                    </tr>
                  
					 </tbody>
                </table>
				</div>
				</div>
			</div>
			</div>
          <div class="col-lg-7">
                        
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampletblno" placeholder="Table No">
                  </div>
                  
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampledesc1" placeholder="Desctiption">
                </div>
				<div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampledesc2" placeholder="Desctiption 2">
                </div>
				<div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampledesc3" placeholder="Desctiption 3">
                </div>
				<div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampledesc4" placeholder="Desctiption 4">
                </div>
				<div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampledesc5" placeholder="Desctiption 5">
                </div>
				<div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampledesc6" placeholder="Desctiption 6">
                </div>
				<div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampledesc7" placeholder="Desctiption 7">
                </div>
                
                <a href="login.html" class="btn btn-primary btn-user btn-block">
                  Save
                </a>
               
              </form>
				
            
          </div>
        </div>
        </div>