<div class="table-container">
    <div>
        <h1 class="text-2xl font-bold">Form Issuance Transaction Entry</h1>
        <button mat-raised-button color="primary" (click)="openDialog()">Add Form Issuance</button>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search form issuance..." #input>
      </mat-form-field>
    </div>
    
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <ng-container matColumnDef="booknumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Book Number </th>
            <td mat-cell *matCellDef="let row"> {{row.booknumber}} </td>
          </ng-container>
      
         <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
          </ng-container>

          <ng-container matColumnDef="startreceipt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Receipt </th>
            <td mat-cell *matCellDef="let row"> {{row.startreceipt}} </td>
          </ng-container>

          <ng-container matColumnDef="endreceipt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Receipt </th>
            <td mat-cell *matCellDef="let row"> {{row.endreceipt}} </td>
          </ng-container>

          <ng-container matColumnDef="char">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Char </th>
            <td mat-cell *matCellDef="let row"> {{row.char}} </td>
          </ng-container>

          <ng-container matColumnDef="tellercode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teller Code </th>
            <td mat-cell *matCellDef="let row"> {{row.tellercode}} </td>
          </ng-container>

          <ng-container matColumnDef="tellername">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teller Name </th>
            <td mat-cell *matCellDef="let row"> {{row.tellername}} </td>
          </ng-container>

          <ng-container matColumnDef="finaldate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Final Date </th>
            <td mat-cell *matCellDef="let row"> {{row.finaldate}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let row" class="space-x-2">
              <button mat-icon-button color="primary" (click)="openDialog(row)">
                  <mat-icon>edit</mat-icon>
              </button> 
              <button mat-icon-button color="primary" (click)="deleteFormIssuance(row.id)">
                  <mat-icon>delete</mat-icon>
              </button> 
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="openSetupDialog()">Setup</button>

      </div>
  </div>